.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.profile-mini-form {
  max-width: 600px;
  margin: 20px auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -10%);
}

.profile-info {
  flex: 1;
}

.banner-profile-container {
  position: relative;
  width: 100%;
}

.profile-image-container {
  position: absolute;
  top: 200px;
  left: 10px;
  margin: 10px;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.banner-container {
  width: 100%;
}

.banner-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.profile-mini-form {
  margin-top: 20px;

}

.profile-subtitle {
  margin: 0 0 20px 0;
  text-align: center;
}

.profile-form-fields {
  display: flex;
  flex-wrap: wrap;
}

.profile-field {
  flex-basis: calc(40% - 10px);
  margin-bottom: 15px;
}

.profile-label {
  margin-bottom: 5px;
}

.profile-input {
  width: 100%;
  margin-bottom: 10px;
}

.profile-btnModificar {
  width: 60%;
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.profile-btnModificar:hover {
  background-color: #0056b3;
}

.comentarios-container {
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.comentario {
  margin-bottom: 10px;
}

.comentarios-right {
  position: absolute;
  top: 200px;
  right: 10px;
  width: 300px;
}